thingsboard_gateway/venv/
thingsboard_gateway/for_tests.py
thingsboard_gateway/f_test.py
thingsboard_gateway/develop_tests/
thingsboard_gateway/logs/*
thingsboard_gateway/config/connected_devices.json
thingsboard_gateway/storage/data/
.idea/
/build/
/deb_dist/
/dist/
/.mypy_cache/
/thingsboard_gateway/storage/data_out/
*.gz
/logs/
/python3-thingsboard-gateway.deb
/python3-thingsboard-gateway.rpm
/thingsboard_gateway.egg-info/
/docker/python3-thingsboard-gateway.deb
/data/
/logs/
__pycache__
/thingsboard_gateway/config/
/venv/
