thingsboard_gateway/venv/
thingsboard_gateway/logs/*
thingsboard_gateway/config/connected_devices.json
thingsboard_gateway/storage/data/
.idea/
.vscode/
/build/
/deb_dist/
/dist/
*.gz
/logs/
*.deb
*.rpm
/*.egg-info/
/data/
/logs/
__pycache__
/thingsboard_gateway/config/
venv
.venv
.env
/for_build/etc/thingsboard-gateway/config/
/thingsboard_gateway/logs/
/tests/storage/
/tests/blackbox/connectors/opcua/_trial_temp/
/tests/blackbox/connectors/modbus/_trial_temp/
*.DS_Store
