libffi-dev
libglib2.0-dev
libxml2-dev
libxslt-dev
libssl-dev
zlib1g-dev
python-dev
python3-dev
python3-pip
python3-lxml
python3-cryptography
python3-jsonpath-rw
python3-jsonpath-rw-ext
python3-opcua
python3-paho-mqtt
python3-pymodbus
python3-pyserial
python3-PyYAML
python3-pyrsistent
python3-importlib
python3-bluepy
