setuptools
packaging==23.1
jsonpath-rw
regex
pip
PyYAML
simplejson
orjson
pybase64
urllib3>=2.3.0
requests>=2.32.3
questionary
pyfiglet
python-dateutil
termcolor
grpcio
mmh3
protobuf<=3.20.0
cachetools
tb-paho-mqtt-client>=2.1.2
tb-mqtt-client==1.13.7
service-identity
psutil
