setuptools
packaging==23.1
jsonpath-rw
regex
pip
PyYAML
simplejson
orjson
pybase64
urllib3>=2.3.0
requests>=2.32.3
python-dateutil
grpcio
mmh3
protobuf
cachetools
tb-paho-mqtt-client>=2.1.2
tb-mqtt-client==1.13.9
service-identity
psutil
cryptography
bacpypes3
bleak
python-can
xknx
pymodbus==3.9.2
pyserial
pyserial-asyncio
paho-mqtt
ocpp
pyodbc
asyncua
requests
aiohttp
puresnmp>=2.0.0
slixmpp
wheel
