simplejson
pyjwt==2.6.0
requests
tb-rest-client
tb-mqtt-client
cryptography
opcua
asyncua
twisted
tb-paho-mqtt-client
pymodbus
pyserial
pyserial-asyncio
python-can
bacpypes>=0.18.0
aiohttp
puresnmp>=2.0.0
slixmpp
